
#content {
  margin: auto;
  width: 60%;
  border: 5px solid #e95555;
  padding: 10px;
  text-align: center;
}

/* #wallpaper {
  background-image: url('./wallpaper.jpg');
height: 50%;
position: fixed;
width: 100%;
} */


input {
  padding: 5px;
}


form {
  font-family: fantasy;
}

#title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sub{
  font-family: cursive;
}

button{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
}


#required2{
  font-size: 10px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}
#required1{
  font-size: 10px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}

#fields {
  font-size: 10px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}